In [2]:
# pip install psycopg2 pandas sqlalchemy

In [3]:
import pandas as pd
from time import time
from sqlalchemy import create_engine

/var/folders/px/_vdqy21j09zgc_p25x541g6wvnbdpz/T/ipykernel_80856/4219345193.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
ls

Untitled.ipynb                 hw_1(zoomcamp_2024).ipynb
green_tripdata_2019-09.csv     hw_solution.md
green_tripdata_2019-09.csv.gz  taxi+_zone_lookup.csv
homework.md

In [5]:
df = pd.read_csv('green_tripdata_2019-09.csv', nrows=100)
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
engine = create_engine('postgresql://postgres:postgres@localhost:54399/ny_taxi')
engine.connect()

In [6]:
print(pd.io.sql.get_schema(df, name='green_tripdata', con=engine))

CREATE TABLE green_tripdata (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [10]:
%time df.to_sql(name='green_tripdata', con=engine, if_exists='recreate')

ValueError: 'recreate' is not valid for if_exists

In [11]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=10000)

df = next(df_iter)

df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

df.head(n=0).to_sql(name='green_tripdata', con=engine, if_exists='replace')  # added name table in database

0

In [12]:
i = 0
while True:
    t_start = time()   
    
    df = next(df_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name='green_tripdata', con=engine, if_exists='append')

    t_end = time()
    
    print(f'#{i} inserted another chunk..., took %.3f second' % (t_end - t_start))
    i += 1

inserted another chunk..., took 1.293 second
inserted another chunk..., took 0.983 second
inserted another chunk..., took 0.785 second
inserted another chunk..., took 0.864 second
inserted another chunk..., took 0.767 second
inserted another chunk..., took 0.809 second
inserted another chunk..., took 0.734 second
inserted another chunk..., took 0.759 second
inserted another chunk..., took 0.738 second
inserted another chunk..., took 0.815 second
inserted another chunk..., took 0.751 second
inserted another chunk..., took 0.747 second
inserted another chunk..., took 0.750 second
inserted another chunk..., took 0.868 second
inserted another chunk..., took 0.746 second
inserted another chunk..., took 0.778 second
inserted another chunk..., took 0.741 second
inserted another chunk..., took 0.744 second
inserted another chunk..., took 0.799 second
inserted another chunk..., took 0.744 second
inserted another chunk..., took 0.793 second
inserted another chunk..., took 0.735 second
inserted another chunk..., took 0.743 second
inserted another chunk..., took 0.798 second
inserted another chunk..., took 0.736 second
inserted another chunk..., took 0.823 second
inserted another chunk..., took 0.758 second
inserted another chunk..., took 1.139 second
inserted another chunk..., took 0.858 second
inserted another chunk..., took 0.780 second
inserted another chunk..., took 0.757 second
inserted another chunk..., took 0.766 second
inserted another chunk..., took 0.811 second
inserted another chunk..., took 0.761 second
inserted another chunk..., took 0.829 second
inserted another chunk..., took 0.764 second
inserted another chunk..., took 1.590 second
inserted another chunk..., took 0.851 second
inserted another chunk..., took 0.669 second
inserted another chunk..., took 0.628 second
inserted another chunk..., took 0.629 second
inserted another chunk..., took 0.718 second
inserted another chunk..., took 0.711 second
inserted another chunk..., took 1.366 second

StopIteration: